#document {
  position: relative;
  padding: 20px;
  border: 1px solid #ccc;
  width: 600px;
  height: 400px;
}

.hachura {
  position: absolute;
  width: 100px;
  height: 100px;
  background: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.2) 0,
    rgba(0, 0, 0, 0.2) 10px,
    rgba(255, 255, 255, 0.2) 10px,
    rgba(255, 255, 255, 0.2) 20px
  );
}

#hachura-container {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  pointer-events: none;
}

#hachura-container div {
  pointer-events: all;
}

#hachura-container div:hover {
  background: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.2) 0,
    rgba(0, 0, 0, 0.2) 10px,
    rgba(255, 255, 255, 0.2) 10px,
    rgba(255, 255, 255, 0.2) 20px
  );
  border: 1px dashed #330000;
}
