* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #27415c;
  --button-color: #1e4875;
  --button-color-hover: #021830bd;
  --button-color-active: #03060abd;
  --text-color: #f0f0f0;
  --bg-color: #dadada;
  --bg-2-color: #4d637abd;
}

body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color);
  height: 100vh;
}

header {
  background-color: var(--primary-color);
  color: white;
  height: 100px;
  padding: 20px 160px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

h1 {
  margin: 0;
}

button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #218838;
}

main {
  /* margin-top: 20px; */
  text-align: center;
  height: 100%;
  width: 100%;
}

footer {
  height: 80px;
  width: 100%;
  background-color: var(--primary-color);

  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.navigation button {
  background-color: var(--button-color);
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.navigation button:hover {
  background-color: var(--button-color-hover);
}

.navigation button:active {
  background-color: var(--button-color-active);
}

#wrapper-number-pages {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: var(--bg-color);
  border-radius: 6px;
  border: 1px solid var(--primary-color);
}

#wrapper-number-pages #total-pages {
  color: var(--primary-color);
}

/* ====== loading =========*/

.loading-container {
  position: fixed;
  top: 10%;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(128, 128, 128, 0.1);
  border-radius: 50%;
  border-top-color: #07812f;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* ===== tools edit box ==== */

.tools-edit-box {
  position: fixed;
  width: 200px;
  height: 60vh;
  right: 10px;
  top: 13%;
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 8px;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  transition: 5.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.divider {
  height: 0.5px;
  width: 100%;
  background-color: #69696936;
}

.color-picker-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

#hachura-color-picker {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.custom-color-display {
  width: 60px;
  height: 40px;
  border-radius: 10px;
  border: 2px solid var(--button-color);
  background-color: rgba(190, 15, 15, 0.3);
  cursor: pointer;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.custom-color-display:hover {
  border-color: #888;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#hachura-blur-checkbox {
  margin-top: 10px;
}

#hachura-blur-checkbox + label {
  cursor: pointer;
  font-size: 14px;
}

.tools-edit-box input[type="checkbox"] {
  margin-right: 8px;
}
