/* ======= IMAGES =========== */
#image-container {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  position: relative;
  border: 2px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper-image img {
  display: flex;
  align-items: center;
  margin: 0 auto;
  cursor: grab;
}

#zoom-image {
  max-width: 100%;
  max-height: none;
  object-fit: contain;
  transition: transform 0.08s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform-origin: center center;
}
#wrapper-image.grabbing {
  cursor: grabbing;
}

#wrapper-image {
  transform: scale(1) translateY(0px);
}

#zoom-image {
  width: 100%;
  height: auto;
  transform-origin: center;
  transition: transform 0.2s ease;
  position: absolute;
}
